@import "pod-styles.css";

body {
  margin: 0;
  padding: 0;
  font: 1em Assistant, Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #999999;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/pink_rice.png");
}


.btn {
  background-color: snow;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-align:center;
  text-transform: lowercase;
  text-decoration: none;
  cursor: pointer;
}

.btn-danger {
  background-color: #f9a5a5;
}
.btn-block {
  display: block;
  width: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;



}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.cards .cards-item {
  width: 32%;
}






.cards-item {
  display: flex;
  flex: 1 1 0;
  padding:15px;
  max-height:400px;
  min-width: 300px;
  max-width: 400px;
}
@media (min-width: 40rem) {
  .cards-item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards-item {
    width: 33.3333%;
  }
}

/*Cards*/
.card {
  background-color: snow;
  border-radius: 0.25rem;
  /*   box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25); */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 900px;
  width: 100%!important;
}
.card:hover .card-image {
  filter: contrast(100%);
}
.card-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  width: 100%;

}
.card-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card-image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card-image::before {
    padding-top: 66.6%;
  }
}
.card-image {
  background-image: url(https://i.ytimg.com/vi/6CFJhTKcGJ4/maxresdefault.jpg);
}
.card-title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card-text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  height: 210px;
  overflow: hidden;
}
/*End of Cards*/


.content-holder {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  padding:15px;
}

.sticky-spacer {
  padding-top:  50px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.text-center{
  text-align: center;
}


.pull-right{
  float:right;
}

.pull-center {
  margin:0 auto;
}

.w-100{
  width:100%;
}
.w-49{
  width:49%;
}
.tag:after {
    content: ',';
}

.tag:last-of-type:after {
    content: '';
}



/*admin view*/

/*.inputHolder input {
  margin: 0 auto;
  width:100%;
  height:30px;
  font-size: 25px;
  text-align: center;
  display: block;
}
.inputHolder textarea {
  margin: 0 auto;
  width:600px;
  height:200px;
  font-size: 18px!important;
  display: block;
}

.inputHolder {
  width:100%;
  max-width: 600px;
  text-align: center;
}
.inline-button-admin {
      width: 570px!important;
      margin-right:7px!important;
      float:left;
}

.inline-radio {
  width:15px!important;
  margin: 0!important;
}

.inputHolder h2{
  margin-bottom: 0px;
}

.list-of-items {
  width:100%;
}

.inputHolder td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.inputHolder tr:nth-child(even) {
    background-color: #fcc4d78c;
}*/


.admin-view {
  width:100%;
  height:100%;
}

.side-menu {
  position: fixed;
  left:0;
  top:70px;
  width:200px;
  height:100vh;
  background: rgba(255, 250, 250, 0.9);
}

.side-menu-ul {
  list-style-type: none;
}
.side-menu-ul li {
  padding:10px;
  font-size: 20px;
  cursor:pointer;
}

.side-menu-ul li:hover {
  text-decoration: underline;

}

.admin-body {
  margin: auto;
  margin-left:200px;
  background: rgba(255, 250, 250, 0.9);
  background-color: white;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.table {
    width: 100%;
}
.table tr{
  height:50px;
}
.table tr:hover{
  background: #f1cece78;
}
.table td{
  padding:15px;
}



h1 {
    font-weight: 100;
    margin: 0;
    color: #444;
}

p {
    font-weight: 300;
}



.input-group {
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
}

.input-group:after {
    content: "";
    display: table;
    clear: both;
}

.input-group input {
    border: none;
    border-bottom: solid 1px #ccc;
    width: 100%;
    padding: 10px 0;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input-group input:focus {
    outline: none;
    border-color: #f674a6;
    box-shadow: 0 1px 0 0 #f674a6;
}

.input-group label {
    position: absolute;
    top: 30px;
    left: 0;
    color: #aaa;
    font-weight: 300;
    transition: transform 0.2s ease, color 0.2s ease;
    transform: translateY(-30px);

}

.input-group label:hover {
    cursor: text;
}

.input-group input:focus + label {
    color: #f674a6;
}

.input-group input:focus + label,
.input-group input.active + label {
    transform: translateY(-30px);
}

.text-area {
  width:100%;
  height: 100px;
}

.btn {
    float: right;
    color: #f674a6;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 2px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: opacity 0.2s ease, background-color 0.2s ease-in-out;
}

.btn:hover,
.btn:focus {
    background-color: #fbfbfb;
    color:#2f313c;
}

.btn:active {
    background-color: #f2f2f2;
}



/*end of admin view*/



.banner {
  width:100%;
  height:300px; 
  padding:15px;
  margin-bottom: 25px;
  display: block;
}

































