nav {
  height: 70px;
  width: 100%;
  color: #f674a6;
  background: rgba(255, 250, 250, 0.9);
  line-height: 70px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  /*   box-shadow: 20px 10px 40px -14px rgba(0, 0, 0, 0.25); */
}
.nav-holder {
  margin: 0 auto;
  width:100%;
  max-width: 1200px;
}



.nav-accent {
  /*   background: rgba(255, 250, 250, .9); */
  color: #2f313c;
  height: 70px;
  width: 450px;
  font-size: 40px;
  text-align: center;
  display: inline-block;
  margin-left: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
}

.menu-item-link {
  color: #f674a6;
  border: 0;
  cursor: pointer;
  font: 1em Assistant, Arial, Helvetica Neue, Helvetica, sans-serif;
  transition: color 0.3s ease, background-color 0.3s ease;
  outline: none;
  margin: 0px 8px 0px;
  line-height: 70px;
  list-style: none;
  clear: none;
  flex: 0 0 auto;
  height: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;

}
.menu-item-link:first-of-type {
 margin-left: 40px;
}
.menu-item-link:hover {
  color: #2f313c;
}

.spacer {
  margin-top: 75px;
}

.user {
  margin-right: 25px;
  float:right;
  margin-top: 10px;
}