{{yield}}
<nav>
  <div class="nav-holder">
  	{{#link-to "index" class="nav-accent"}}Blog{{/link-to}}
    <a type="button" class="menu-item-link">Explore</a>
    <a type="button" class="menu-item-link">About Me</a>
    <a type="button" class="menu-item-link">Blah</a>
  </div>
</nav>
<div class="spacer"></div>
