{{yield}}
<nav>
	<div class="nav-holder">
		{{#link-to "index" class="nav-accent"}}Recitina{{/link-to}}
		{{#link-to "index" type="button" class="menu-item-link"}}Explore{{/link-to}}
		{{#link-to "about" type="button" class="menu-item-link"}}About Me{{/link-to}}
		<a class="user menu-item-link">Log In</a>

	</div>
</nav>
<div class="spacer"></div>
