{{yield}}
<nav>
	<div class="nav-holder">
		{{#link-to "index" class="nav-accent"}}Blog{{/link-to}}
		{{#link-to "index" type="button" class="menu-item-link"}}Explore{{/link-to}}
		{{#link-to "index" type="button" class="menu-item-link"}}About Me{{/link-to}}
	</div>
</nav>
<div class="spacer"></div>
