{{yield}}
<table class='list-of-items'>
	<tr>
    	<th>title</th>
    	<th>action</th>
 	</tr>
 	{{#each model as |record|}}
		<tr>
			<td>{{record.title}}</td>
			<td><button class="btn w-100"{{action 'editPost' record.id}}>edit</button></td>
		</tr>
	{{/each}}
</table>