{{yield}}
<div class="cards-item">
	<div class="card">
		<div class="card-image card-image-flowers"></div>
		<div class="card-content">
			<div class="card-title">{{post.title}}</div>

			{{#each tags as |tag|}}
				{{tag}}
			{{/each}}

			<p class="card-text">{{post.blogPost}}</p>
			{{#link-to "post" post.id class="btn btn-block card-btn"}}
				view recipe
			{{/link-to}}
		</div>
	</div>
</div>